<nav id="sidebar">
  <div class="sidebar-header">
    <img src="https://www.exprogroup.com/assets/img/logo.svg" class="img-fluid">
    <div id="sidebar-text">birou de proiectare</div>
  </div>
  <ul class="list-group">
    <ng-template [ngIf]='!authenticationService.isAuthenticated()'>
      <li class="list-group-item">
        <a routerLink='register'>Register</a>
      </li>
      <li class="list-group-item">
          <a routerLink='login'>Login</a>
        </li>
    </ng-template>
    <li class="list-group-item" *ngIf='authenticationService.isAuthenticated()'>
        <a (click)='onLogout()'>Logout</a>
      </li>
    <li class="list-group-item">
        <a routerLink='home'>Home</a>
      </li>
    <li class="list-group-item">
      <a routerLink='home'>Home</a>
    </li>
    <li class="list-group-item">
      <a routerLink='about'>About</a>
    </li>
    <li class="list-group-item">
      <a href="#pageSubmenu" data-toggle="collapse">Works</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a routerLink='roads'>Road Design</a>
        </li>
        <li>
          <a routerLink='access'>Road Access Design</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
