<div class="container">
  <div class="row">
    <div class="col-6">
      <form (ngSubmit)='onSignUp(f)' #f='ngForm'>
        <div id="user-data" ngModelGroup='userData' #userData='ngModelGroup'>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" name="email" id="email" ngModel class="form-control" required email #email='ngModel'>
          </div>
          <p *ngIf="!email.valid && email.touched">Please enter a valid email!</p>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ngModel class="form-control" required password
              #password='ngModel'>
          </div>
          <p *ngIf='!password.valid && password.touched'>Please enter a valid password!</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]='!f.valid'>Register</button>
      </form>
    </div>
  </div>
</div>
